@using DAL.Entities;
@model Category
@{
    ViewData["Title"] = "Create";
}

<h4 style="text-align:center;background-color:ghostwhite">Create Category</h4>

<form class="form" asp-action="Create">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Create</button>
    <button asp-action="Index" class="btn btn-secondary">Back</button>

</form>

