@{
    ViewData["Title"] = "CheckYourInBox";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<section class="sign-in">
    <div class="container">
        <div asp-validation-summary="All"></div>
        <div class="signin-content">

            <div class="signin-form" style="margin-left:30%">
                <h2 class="form-title">Check Your InBox </h2>
            </div>
        </div>
    </div>
</section>
