@{
    ViewData["Title"] = "PasswordChangedSuccessfully";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<div>
    <h2 class="form-title" style="text-align:center">Password Changed Successfully </h2>
</div>

<div>
    <a href="Login" class="signup-image-link" style="font-size:20px;">Go To Login Form :)</a>
</div>



